.label {
  font-size: 20px;
  margin-left: auto;
  /* color: coral; */
  
}

.input {
  font-size: 14px;
   border: 2px solid chocolate;
}
.input {
  border: 2px solid #coral; 
  border-radius: 3px;
  margin-left: 3px ;
  background: #ffffff;
  outline: none;
  height: 15px;
  width: 100px; 
  font-size: 12px;
  transition: all 250ms;
}

input:focus {
  border: 2px dashed #000000
}