.container {
  max-width: 1400px;
  min-height: 400px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 5px;
}
.mainTitle {
  text-align: center;
  margin-top: 0;
}

.contactsTitle {
  text-align: center;
}