.list {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.item {
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-between;
  padding: 10px;
  border: 1px solid coral; 
  border-radius: 3px;
  width: 350px;
  margin-bottom: 3px;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
-23px 0 20px -23px rgba(0, 0, 0, .8),
23px 0 20px -23px rgba(0, 0, 0, .8),
0 0 40px rgba(0, 0, 0, .1) inset;
}
.image{
  width: 40px;
  height: 40px;
  align-items: center;
  border-radius: 50% ;
  flex-wrap: wrap; 
}

.loader{
  margin: 0 auto;
}
